<%= render "layouts/header" %>
<p id="notice"><%= notice %></p>

<div class="container">
    <% provide(:title, @user.first_name) %>
    <div class="row">
        <section class="user_info text-center">
            <h1>
                <%= @user.first_name %>'s events
            </h1>
        </section>

    </div>
        <% @active = 0 %>
        <%= render partial: 'events/user_events'%>

</div>
