<% for index in 0..2 %>

<div class="user_tab_<%= @active_tab == index %> col-md-2 text-center">
<%= button_to tab_titles[index], get_events_path(index: index), :remote => true, class: 'btn btn-default user_tab_button'  %>
</div>

<% end %>
