<div id="user_events">
    <ul class="nav nav-tabs ">
      <div class="user_tab_button_section row" id = "user_tabs">

        <%= render partial: 'events/event_tabs' %>
        </div>
    </ul>

    <div class="tab-content">
        <%= render partial: 'events/event_section', locals: {active_tab: @active_tab} %>
    </div>

</div>
