<% @@tab_titles = ['RSVP\'d events', 'Interested Events', 'Events For You'] %>
<% @@page_titles = ['Events you\'re going to', 'Events you\'re interested in', 'Recommended events for you'] %>

<div id="user_events">
    <ul class="nav nav-tabs">
        <% for i in 0..2 %>
            <%= render partial: 'events/event_tab', locals: {index: i} %>
        <% end %>
    </ul>

    <div class="tab-content">
        <%= render partial: 'events/event_section', locals: {active_tab: @active_tab} %>
    </div>

</div>

<style>
    .nav-pills > li,
    .nav-tabs > li {
        float: none;
        display: inline-block;
        *display: inline;
        /* ie7 fix */
        zoom: 1;
        /* hasLayout ie7 trigger */
    }

    .nav-pills,
    .nav-tabs {
        text-align: center;
    }


</style>
