<% @@tab_titles = ['RSVP\'d events', 'Interested Events', 'Events For You'] %>
<% @@page_titles = ['Events you\'re going to', 'Events you\'re interested in', 'Recommended events for you'] %>

<div id="user_events">
    <ul class="nav nav-tabs">
      <div class="user_tab_button_section" id = "user_tabs">
        <%= render partial: 'events/event_tab' %>
      </div>
    </ul>

    <div class="tab-content">
        <%= render partial: 'events/event_section', locals: {active_tab: @active_tab} %>
    </div>

</div>
