<%= render "layouts/header" %>
    <!-- Projects Ro>
  w -->

<h1>New Event</h1>

<%= render 'form', event: @event %>

<input type="checkbox" name="vehicle" value="Bike"> I have a bike<br>
<input type="checkbox" name="vehicle" value="Car" checked> I have a car<br>

<%= link_to 'Back', events_path %>

<%= debug(params) if Rails.env.development? %>
