<section class="events_all_section">
	<div class="container">
		<div class="top-thumbnail text-center">
			<%= image_tag "All-Event.png", class:"img-responsive" %>
			<div class="top-caption">
				<h1>Submit An Event!</h1>
			</div>
		</div>

	<div class="row" style="padding-left:10px; padding-right:10px;">

	<p style="padding-top:20px;">Temporarily in order to apply to the Brandeis university events policy, all events will be submitted via a form to the administration. This is the same form as found on the Univeristy BrandeisNow page. It will be approved by a staff member at Student Activities. Once approved, your event will appear on our site within 24 hours. Please not that this is a temporary measure and will change in the future.</p>
		<iframe style="width: 100vw; height: 1000px;" id="trumbaSubmitEventForm" class="text-center scrollable" src="https://www.trumba.com/eaembed.aspx?submitevent=sd1tbm3d2sc2tp1ub7k8ec4fp7&amp;topurl=http%3A//www.brandeis.edu/events/submit.html" style="width: 100vw;height: 100vh;position: relative;" allowtransparency="true" style="background-color: white;" scrolling="no" frameborder="0" marginheight="0" marginwidth="0" title="Event Submission Form"></iframe>

	</div>
</div>
