


<div class="section large transparent dark text-center slider">
	<div class="container slider-text">
		<h1><%= error %></h1>
		<h3> Hey, you know what would be amazing?</h3>
		<h3> If you could fill out a quick bug report form to help us improve!</h3>
		<h3> Click <%= link_to "here", "https://docs.google.com/forms/d/e/1FAIpQLScjky6S1_2LoJqyL0fK9l2tivzZp-8tTdHqBR6VSX8W568b8Q/viewform"%> to submit your report. Thank you so much! <3</h3>
	</div>
</div>

<script>
$(document).ready(function(){
$('#nav').removeClass('navbar-default');
$('#nav').addClass('navbar-transparent');
$('#logo_scrolling').addClass('hidden');
});
</script>
