<%= render "layouts/header" %>


<div class="section large transparent dark text-center slider">
	<div class="container slider-text">
		<h1>INTERNAL SERVER ERROR!</h1>
		<h3> Don't take it personally, Aaron just misspelled something.</h3>
		<h3>Please click any of the links in the header to go to a page that Zach, Ari, or Hunter programmed.</h3>
	</div>
</div>
