/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap
 *= require bootstrap-datetimepicker
 *=require social-share-button
 *= require font-awesome
 */

.landing-page {
  height: 100vh;
}

.container {
  width: 100vw !important;
  padding: 0 30px !important;
}


body{
  padding-bottom: 30px;
}
 .hidden {
     display: none !important;
     visibility: hidden;
 }
 @media (max-width: 767px) {
   .hidden-desktop {
     display: inherit !important;
   }
   .visible-desktop {
     display: none !important;
   }
   .visible-phone {
     display: inherit !important;
   }
   .hidden-phone {
     display: none !important;
   }
   .slider{
     padding-top: 30vh !important;
   }
 }
/*@import "social-share-button";*/

@media (min-width: 970px) {
    /*.container {
        width: 1000px !important;
    }*/
    .portfolio-item {
        margin-top: 20px;
        min-height: 350px !important;
        overflow: hidden;
    }
    .portfolio-item h4 {
        /*min-height: 60px;*/
        max-height: 36px;
        overflow: hidden;
    }
    .event-tags {
        height: 20px;
        overflow: hidden;
        margin-bottom: 10px;
    }.event-description-home{
      min-height: 56px !important;
    }
}

@media (min-width: 1390px) {

    .portfolio-item h4 {
        min-height: 40px;
    }
    .portfolio-item {
        margin-top: 20px;
        min-height: 365px !important;
        overflow: hidden;
    }
}


/*@media (min-width: 780px) {
     .container{
         width: 1000px !important;
     }
 }*/

a {
    color: #666 !important;
}

a:hover {
    background-color: transparent;
    color: #42B5E8 !important;
    text-decoration: none !important;
}

a:visited {
    color: #666 !important;
}

.btn-transparent {
    background-color: transparent !important;
    border-color: #ccc !important;
    background-image: none !important;
}

.bottom_ul li a {
    color: #fff !important;
}

.bottom_ul li a:hover {
    color: #fff !important;
}

.bottom_ul li a:visited {
    color: #fff !important;
}

.hidden {
    display: none;
}


/* ==========================================================================
   08. Footer
   ========================================================================== */

.icon-ul {
    list-style-type: none !important;
    margin: 0px;
    padding: 0px;
}

.icon-ul li {
    line-height: 75px;
    width: 100%;
    float: left;
}

.icon {
    float: left;
    margin-right: 5px;
}

.copyright {
    min-height: 50px;
    background-color: #0c1a1e;
    margin-bottom: -10px;
}

.copyright p {
    text-align: left;
    color: #FFF;
    padding: 10px 0;
    margin-bottom: 0px;
}

.heading7 {
    font-size: 21px;
    font-weight: 700;
    color: #d9d6d6;
    margin-bottom: 22px;
}

.post p {
    font-size: 12px;
    color: #FFF;
    line-height: 20px;
}

.post p span {
    display: block;
    color: #8f8f8f;
}

.bottom_ul {
    list-style-type: none;
    float: right;
    margin-bottom: 5px;
}

.bottom_ul li {
    float: left;
    line-height: 40px;
}

.bottom_ul li:after {
    content: "/";
    color: #FFF;
    margin-right: 8px;
    margin-left: 8px;
}

.bottom_ul li a {
    color: #FFF;
    font-size: 12px;
}

.social-share-button {
    padding-top: 10px;
}

.social-share-button .ssb-icon {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 28px 28px !important;
    display: inline-block;
    height: 28px !important;
    width: 28px !important;
}



@media only screen
and (min-device-width : 414px)
and (max-device-width : 736px)  {
  .navbar-toggle{
    margin-top: 30px;
  }
  #logo_text{
    margin-top: -40px;
    font-size: 80%;
  }
  .logo_text_move_up{

    padding-top: 0px !important;
    font-size: 80%;
  }
  #logo_scrolling{
  display: none;
  }
  .navbar-default-mobile{
  background-color: #fff;
padding-top:-30px;
  min-height: 70px;
  margin-top: -40px;
  color: #000000 !important;
}

#logo_text{
  height: 30px !important;
}

 }




 .logo_text_mobile{
  margin-top: -60px !important;
   font-size: 80%;
 }
.logo_text_move_up{

  font-size: 80%;
  padding-top: 0px !important;

}

#navbar-default{
  display: none !important;
}

.black-text{
  color: #000000 !important;
}
.navbar-header{
  color: #000000 !important;
}
.hidden{
  display: none !important;
}
