/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap
 *= require bootstrap-datetimepicker
*= require font-awesome
 */

 @media (min-width: 970px) {
   .container {
     width: 1000px !important;
   }
   .portfolio-item {
       margin-top: 20px;
       min-height: 395px !important;
       overflow: hidden;
   }
   .portfolio-item h4{
      min-height: 60px;
   }
   .event-tags{
     height: 20px;
     overflow: hidden;
     margin-bottom: 10px;
   }

 }
 @media (min-width: 1390px) {
     .container{
         width: 1370px !important;
     }
     .portfolio-item h4{
        min-height: 40px;
     }
     .portfolio-item {
         margin-top: 20px;
         min-height: 365px !important;
         overflow: hidden;
     }

 }


 /*@media (min-width: 780px) {
     .container{
         width: 1000px !important;
     }
 }*/
 a{
   color: #666 !important;
 }
 a:hover{
  background-color: transparent;
  color: #42B5E8 !important;
  text-decoration: none !important;
 }
 a:visited{
  color: #666 !important;
 }
.btn-transparent{
  background-color: transparent !important;
    border-color: #ccc !important;
    background-image: none !important;
}

.bottom_ul li a {
    color: #fff !important;
}
.bottom_ul li a:hover {
    color: #fff !important;
}
.bottom_ul li a:visited{
  color: #fff !important;
}
.hidden{
  display: none;
}


/* ==========================================================================
   08. Footer
   ========================================================================== */
	 .icon-ul { list-style-type:none !important; margin:0px; padding:0px;}
	 .icon-ul li { line-height:75px; width:100%; float:left;}
	 .icon { float:left; margin-right:5px;}


	 .copyright { min-height:50px; background-color: #0c1a1e;
     margin-bottom: -10px;}
	 .copyright p { text-align:left; color:#FFF; padding:10px 0; margin-bottom:0px;}
	 .heading7 { font-size:21px; font-weight:700; color:#d9d6d6; margin-bottom:22px;}
	 .post p { font-size:12px; color:#FFF; line-height:20px;}
	 .post p span { display:block; color:#8f8f8f;}
	 .bottom_ul { list-style-type:none; float:right; margin-bottom:5px;}
	 .bottom_ul li { float:left; line-height:40px;}
	 .bottom_ul li:after { content:"/"; color:#FFF; margin-right:8px; margin-left:8px;}
	 .bottom_ul li a { color:#FFF;  font-size:12px;}
