// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* ==========================================================================
   01. Home Page
   ========================================================================== */
.section {
	position: relative;
	padding: 0;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.slider{
  margin-top: -90px;
  padding: 200px 0;
	padding-top: 270px;
  color: #fff;
  background-image: url('http://campusnow-images.s3.amazonaws.com/images/home-page-brandeis.png');


}
.slider h1{
  font-size: 60px;
	// font-family: 'Raleway Dots', cursive;

}
.slider p{
  color: #fff !important;
  font-size: 20px;
}
.navbar-transparent{
background-color: none !important;
}
#nav{
  margin-top: -10px;
}

// nav#nav.navbar.navbar-transparent.navbar-default.navbar-fixed-top{
//   background-color: none !important;
// }
.btn-white{
  background-color: #fff;
  color: #000;
  width: 100px;
}

.top_events_section{
  margin-top: 30px;
}

.navbar-transparent a{

color: #fff !important;

font-family: verdana, arial, helvetica, sans-serif;
font-size: 20px;
margin-top: 20px;


}

.navbar-transparent a:visited{

color: #fff !important;

font-family: verdana, arial, helvetica, sans-serif;
font-size: 20px;


}


.navbar-transparent a:hover{

color: #fff !important;

font-family: verdana, arial, helvetica, sans-serif;
font-size: 20px;
background-color: none !important;


}

.navbar-transparent > li > a:hover{
	background-color: none !important;
	
}
.navbar-transparent {
    // background-color: #F8F8F8;
    // border-color: #E7E7E7;
}
/* Title */
.navbar-transparent .navbar-brand {
    color: #777;
}
.navbar-transparent .navbar-brand:hover,
.navbar-transparent .navbar-brand:focus {
    color: #5E5E5E;
}
/* Link */
.navbar-transparent .navbar-nav > li > a {
    color: #777;
}
.navbar-transparent .navbar-nav > li > a:hover,
.navbar-transparent .navbar-nav > li > a:focus {
    color: #333;
}
.navbar-transparent .navbar-nav > .active > a,
.navbar-transparent .navbar-nav > .active > a:hover,
.navbar-transparent .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #E7E7E7;
}
.navbar-transparent .navbar-nav > .open > a,
.navbar-transparent .navbar-nav > .open > a:hover,
.navbar-transparent .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #D5D5D5;
}
/* Caret */
.navbar-transparent .navbar-nav > .dropdown > a .caret {
    border-top-color: #777;
    border-bottom-color: #777;
}
.navbar-transparent .navbar-nav > .dropdown > a:hover .caret,
.navbar-transparent .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}
.navbar-transparent .navbar-nav > .open > a .caret,
.navbar-transparent .navbar-nav > .open > a:hover .caret,
.navbar-transparent .navbar-nav > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}
/* Mobile version */
.navbar-transparent .navbar-toggle {
    border-color: #DDD;
}
.navbar-transparent .navbar-toggle:hover,
.navbar-transparent .navbar-toggle:focus {
    background-color: #DDD;
}
.navbar-transparent .navbar-toggle .icon-bar {
    background-color: #CCC;
}
@media (max-width: 767px) {
    .navbar-transparent .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .navbar-transparent .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-transparent .navbar-nav .open .dropdown-menu > li > a:focus {
          color: #333;
    }
}

/* ==========================================================================
   08. Categories
   ========================================================================== */
.category-box {
	position: relative;
	padding: 0;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	font-family: 'Poiret One', cursive;
	font-size: 36px;
	line-height: 36px;
	letter-spacing: 0;
	display: block;
	margin-bottom: 30px;
	-webkit-transition: .5s;
	-ms-transition: .5s;
	-moz-transition: .5s;
	-o-transition: .5s;
	transition: .5s;
}
.category-box:hover {
	opacity: 1;
	box-shadow: 0 12px 22px rgba(0,0,0,.35);
}
.category-box>.inner {
	height: 270px;
	background: rgba(23,36,52,.8);
	-webkit-transition: .5s;
	-ms-transition: .5s;
	-moz-transition: .5s;
	-o-transition: .5s;
	transition: .5s;
}
.category-box:hover>.inner {
	background: none;
}
.category-box>.inner img {
	position: absolute;
	top: 20px;
	left: 20px;
}
.category-box>.inner .number {
	position: absolute;
	top: 20px;
	right: 20px;
	color: #00b0ff;
}
.category-box>.inner .title {
	position: absolute;
	bottom: 20px;
	left: 20px;
	color: #fff;
}
