.RSVP_section {
    padding-bottom: 50px;
}

.RSVP_section img {
    width: 260px;
}

.user_tab {
    display: inline;
    margin-right: 20px;
    margin-left: 20px;
    border: none !important;
    -webkit-box-shadow: none;
    box-shadow: none;
}

div.user_tab_true.col-md-2.text-center.user_tab input {
    //color in current tab
    // background-color: #ccc !important;
    font-style: bold;
    border-style: solid;
    border-width: 2px;
    border-color: #d3d3d3;
    border-top-right-radius: 5px !important;
    border-top-left-radius: 5px !important;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-bottom: none !important;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom-color: #fff !important;
}

div.user_tab_false.col-md-2.text-center.user_tab input {
    //prevent weird box shadow on chrome
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #fff !important;
}

input.btn.btn-default.user_tab_button {
    border: none;
    // border-top-right-radius: 5px !important;
    // border-top-left-radius: 5px !important;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    width: 151px;
}

.section-titles {
    padding-top: 10px;
}

div.col-md-12.RSVP_section {
    @-webkit-keyframes fadeIn {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }
    @-moz-keyframes fadeIn {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }
    @keyframes fadeIn {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }
}

.profile-banner img {
    margin-top: -20px;
    border-radius: 10px;
    overflow: hidden;
    padding-bottom: 20px;
}
@media only screen and (min-device-width : 375px) and (max-device-width : 667px) {}

.btn-tags-user-page {
    border-radius: 15px !important;
    margin-top: 15px;
}

.tags-section-user {
    padding-left: 15px;
    padding-bottom: 20px;
}

.btn-submit-user {
    border-radius: 10px !important;
}

#calendar-feed-button {
    margin-bottom: 10px !important;
}
