
<footer class="copyright">
  <div class="container">
    <div class="col-md-6">
      <p>DISCLAIMER: Not endorsed by Brandeis University... yet. :)</p>
    </div>
    <div class="col-md-6">

      <ul class="bottom_ul" style="color:#fff;">

    <p><a href="https://docs.google.com/forms/d/e/1FAIpQLScjky6S1_2LoJqyL0fK9l2tivzZp-8tTdHqBR6VSX8W568b8Q/viewform?usp=sf_link" target="blank" style="color:#fff !important;">Submit Bugs</a>   /   Ari Carr   /  Aaron Gold   /   Zach Weiss</p>
      </ul>
    </div>
  </div>
</footer>
