
<footer class="copyright">
  <div class="container">
    <div class="col-md-6">
      <p>© 2017 - All Rights with BrandeisEvents</p>
    </div>
    <div class="col-md-6">
      <ul class="bottom_ul">
        <li><a>Ari Carr</a></li>
        <li><a>Aaron Gold</a></li>
        <li><a>Zach Weiss</a></li>
      </ul>
    </div>
  </div>
</footer>
